



<nav class="navbar" >

    <div class="Logo">

        Jayanth

    </div>

    <div class="nav-Buttons">

        <ul class="nav-links">
        <li>
            <a (click)="scrollIntoSection('about')" >About</a>
            <a (click)="scrollIntoSection('skills')" >Skills</a>
            <a (click)="scrollIntoSection('projects')" >Projects</a>
            <a (click)="scrollIntoSection('experience')">Experience</a>
            <a (click)="scrollIntoSection('certifications')" >Certifications</a>

        </li>

    </ul>

    </div>

  


</nav> 






<!--//////////////////// Using prime ng components  -->

<!-- <p-menubar [model]="items" class="navBar-portfolio">
 
  <ng-template pTemplate="start">
     <div class="logo">JAYANTH</div>
    
  </ng-template>
</p-menubar> -->