

<style>
  
</style>

<main class="main" >
<div class="startingUi">

    <app-navbar/>
    <app-mainimage/>

</div>


<div class="mainContent">


  <div id="skills">

    <app-contentbar
  [sectionName]="'Skills'"
  [data]="skillsData"
  [cardComponent]="skillCardComponent"
  
/>

  </div>

  <div id="projects">
    

<app-contentbar
  [sectionName]="'Projects'"
  [data]="projectsData"
  [cardComponent]="projectCardComponent"
  
/>


  </div>
  



<div id="certifications">



<app-contentbar
  [sectionName]="'Certificates'"
  [data]="certificatesData"
  [cardComponent]="certificateCardComponent"
  
/>

</div>





</div>







  
</main>




<router-outlet />
